
*.vsidx

*.db

*.json

WSA/.vs/WSA/v17/

WSA/x64/

WSA/comparison_10.txt

WSA/comparison_100.txt

WSA/comparison_50.txt

WSA/WSA/x64/

*.vcxproj

*.user

*.filters

*.sln

WSA/magnetic_lines.dat

WSA/magnetic_lines.txt

WSA/open_magnetic_lines.txt

WSA/closed_magnetic_lines.txt

WSA/comparison_15.txt

WSA/comparison_20.txt

WSA/comparison_25.txt

WSA/1_comparison_50.txt

WSA/2.5_comparison_50.txt

WSA/coronal_phole.txt

WSA/.vs/CopilotSnapshots/

WSA/.vs/WSA/copilot-chat/

WSA/.vs/WSA/CopilotIndices/

WSA/build_with_openmp.bat

coronal_phole_optimized.txt

coronal_phole.txt
